### IDE ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.idea
.idea_modules/

# Eclipse
.settings/
.classpath
.project
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# VS Code
.vscode/
*.code-workspace

### Build ###
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
out/
bin/

### Logs ###
*.log
logs/
*.logs

### System ###
.DS_Store
Thumbs.db

### Test reports ###
allure-results/
allure-report/
test-output/
surefire-reports/
failsafe-reports/

### Environment ###
.env
*.env

### Exceptions ###
!src/main/java/
!src/main/resources/
!src/test/java/
!src/test/resources/
!pom.xml
!README.md
!*.md
!.gitignore